name: Merge CI

on: [pull_request]

jobs:
  tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix: 
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps: 
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Run Python script
        run: python main.py
